<% provide(:title, 'User search') %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>User Search</h3>
    <%= form_tag '/search', :method => 'get' , :class => 'user_search' do %>
      <%= render 'shared/error_messages' %>
        <%= label_tag :atcoder_id, "AtCoder ID" %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
    <% end %>

    <ul class="users follow">
      <% if @atcoder_user&.valid? %>
        <%= render @atcoder_user %>
      <% end %>
    </ul>
  </div>
</div>