<% if logged_in? %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <div class="col-md-8">
    <%= render 'shared/feed' %>
  </div>
</div>
<% else %>
  <!DOCTYPE html>
  <html>
    <head>
      <title><%= full_title(yield(:title)) %></title>
      <%= render 'layouts/rails_default' %>
      <%= render 'layouts/shim' %>
    </head>
    <body class="top">
      <%# <%= render 'layouts/header' %>
      <%# <div class="container"> %>
        <div class="jumbotron jumbotron-extend">
          <%# <%= render 'layouts/header' %> 
          <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <div class="container-fluid jumbotron-container">
            <div class="acr">
              <h1>AtCoder Rivals</h1>
            </div>
            <div>
              <a href="/auth/twitter" class="btn btn-primary btn-lg">
                <span class="fab fa-twitter"></span>
                Sign up with Twitter
              </a>
              <a href="/login_sample" class="btn btn-warning btn-lg">
                Login as a sample user
              </a>
            </div>
          </div>
          <%# <%= render 'layouts/footer' %>
        </div>
        <%= debug(params) if Rails.env.development? %>
      <%# </div> %>
    </body>
  </html>
<% end %>