<% if logged_in? %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <div class="col-md-8">
    <%= render 'shared/feed' %>
  </div>
</div>
<% else %>
  <!DOCTYPE html>
  <html>
    <head>
      <title><%= full_title(yield(:title)) %></title>
      <%= render 'layouts/rails_default' %>
      <%= render 'layouts/shim' %>
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body class="top">
      <%# <%= render 'layouts/header' %>
      <%# <div class="container"> %>
      <div class="jumbotron jumbotron-extend">
        <%# <%= render 'layouts/header' %> 
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>">
            <%= message %>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          </div>
        <% end %>
        <div class="container-fluid jumbotron-container">
          <div class="acr">
            <h1>AtCoder Rivals</h1>
          </div>
          <div class="btns">
            <%= link_to "About", about_path, class: "btn btn-danger btn-lg" %>
            <%= link_to '/auth/twitter', class: "btn btn-primary btn-lg", method: :post do %>
              <span class="fab fa-twitter"></span> Sign up with Twitter
            <% end%>
            <%= link_to "Try without signing up", "/login_sample", class: "btn btn-warning btn-lg" %>
          </div>
        </div>
      </div>
      <%= debug(params) if Rails.env.development? %>
      <%# </div> %>
    </body>
  </html>
<% end %>