<% contest_title = contest.title %>
<% contest_name = contest.name %>

<li id="contest-<%= contest.id %>">
  <span class="feed_title">
    <%= link_to contest_title, contest_url(contest_name) %>
  </span>
  <span class="content">
    <% histories = @user.contest_feed(contest,@fol_ids) %>
    <% if histories.exists? %>
      <table class="table table-striped table-bordered ">
        <thead>
            <tr>
              <th>#</th>
              <th>place</th>
              <th>name</th>
              <th>performance</th>
              <th>new rating</th>
            </tr>
        </thead>
        <tbody>
          <%= render histories, contest_name: contest_name %>
        </tbody>
      </table>
    <% end %>
  </span>
  <span class="feed_footer">
    rate change: <%= contest.rate_change %>
    <span class="timestamp">
    <%= Time.at(contest.start_epoch_second) %>
    </span>
  </span>
</li>