<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= show_icon @user %>
      <h1><%= @user.user_name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>AC:</b> <%= @atcoder_user.accepted_count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <% if @atcoder_users.any? %>
        <div class="user_avatars">
          <% @atcoder_users.each do |user| %>
            <%# <%= link_to gravatar_for(user, size: 30), user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @atcoder_users.any? %>
      <ul class="users follow">
        <%= render @atcoder_users %>
      </ul>
      <%= will_paginate @atcoder_users %>
    <% end %>
  </div>
</div>