    <!-- タブ・メニュー -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#submissions" data-toggle="tab">Submissions</a></li>
      <li><a href="#contests" data-toggle="tab">Contests</a></li>
    </ul>
    <!-- タブ内容 -->
    <div class="tab-content">
      <div class="tab-pane active" id="submissions">
        <h3>Submissions</h3>
        <ol class="feeds">
          <%= render @submissions %>
        </ol>
        <ul class="pagination">
          <li class="prev"><%= link_to_prev_page @submissions, 'Prev', param_name: 'submissions' %></li>
          <li class="page active"><%= link_to @submissions.current_page,'javascript:void(0);' %></li>
          <li class="next"><%= link_to_next_page @submissions, 'Next', param_name: 'submissions' %></li>
        </ul>
      </div>
      <div class="tab-pane" id="contests">
        <h3>Contests</h3>
        <ol class="feeds">
          <%= render @contests %>
        </ol>
        <%= paginate @contests, param_name: 'contests' %>
      </div>
      <script>
        if (location.hash) {
          $('a[href=\'' + location.hash + '\']').tab('show');
        }
        var activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
          $('a[href="' + activeTab + '"]').tab('show');
        }

        $('body').on('click', 'a[data-toggle=\'tab\']', function (e) {
          e.preventDefault()
          var tab_name = this.getAttribute('href')
          if (history.pushState) {
            history.pushState(null, null, tab_name)
          }
          else {
            location.hash = tab_name
          }
          localStorage.setItem('activeTab', tab_name)

          $(this).tab('show');
          return false;
        });
        $(window).on('popstate', function () {
          var anchor = location.hash ||
            $('a[data-toggle=\'tab\']').first().attr('href');
          $('a[href=\'' + anchor + '\']').tab('show');
        });
      </script>
    </div>