  <% atcoder_user = history.atcoder_user %>
  <% atcoder_id = atcoder_user.atcoder_id %>

<tr id="history-<%= history.id %>">
<td><%= link_to show_icon(atcoder_user, size: 20), atcoder_user_url(atcoder_id) %></td>
<td><%= link_to history.place, standings_url(contest_name, atcoder_id) %></td>
<td><%= link_to atcoder_id, atcoder_user_url(atcoder_id), class: "#{color(history.old_rating)}" %></td>
<% if history.is_rated %>
  <td><span class=<%= "#{color(history.performance)}" %>><%= history.performance %></span></td>
  <td><span class=<%= "#{color(history.new_rating)}" %>><%= history.new_rating %></span> (<%= "%+d" % (history.new_rating - history.old_rating) %>)</td>
<% else %>
  <td> - </td>
  <td><span class=<%= "#{color(history.new_rating)}" %>><%= history.new_rating %></span></td>
 <% end %>
</tr>