<tr id="history-<%= history.id %>">
  <%# <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  
  <%# link_to "#",  %>
  <%# <span class="contest_title"><%= link_to contest.title, "https://atcoder.jp/contests/#{contest.abbreviation}"</span> %>

  <%# <span class="content"><%= history.place %>
  <%# <%= show_icon history.atcoder_user, size: 20 %>
<td><%= show_icon history.atcoder_user, size: 30 %></td>
<td><%= history.place %></td>
<td><%= history.atcoder_user.atcoder_id %></td>
<td><%= history.performance %></td>
<td><%= history.new_rating %></td>
 
  <%# <span class="timestamp"> %>
    <%# <%= Time.at(contest.start_epoch_second) %>
    <%# <%= @atcoder_user.atcoder_id %>
    <%# Posted <%= time_ago_in_words(contest.created_at) %>
  <%# </span> %>
</tr>