<% if submission.contest %>
<li id="submission-<%= submission.id %>">
  <% atcoder_user = submission.atcoder_user %>
  <% atcoder_id = atcoder_user.atcoder_id %>
  <% contest_title = submission.contest.title %>
  <% contest_name = submission.contest.name %>
  <% problem_title = submission.problem.title %>
  <% problem_name = submission.problem.name %>

  <%= link_to show_icon(atcoder_user), atcoder_user_url(atcoder_id) %>
  <span class="feed_title">
    <% res = submission.result%>
    <% if res=="AC"%>
      <span class="label label-success "><%= res %></span>
    <% else %>
      <span class="label label-warning"><%= res %></span>
    <% end %>
    <%= link_to atcoder_id, atcoder_user_url(atcoder_id), class: "name" %>
  </span> 
  <span class="content">
    <%= link_to contest_title, contest_url(contest_name) %>
    <%= link_to problem_title, problem_url(contest_name, problem_name) %>
  </span>

  <span class="feed_footer">
    <%= submission.language %>
    <span class="timestamp">
      <%= Time.at(submission.epoch_second) %>
    </span>
  </span>
</li>

<% end %>