<li id="submission-<%= submission.id %>">
  <%# <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  
  <%# link_to "#",  %>
  <span class="contest_title"><%= link_to submission.problem.problem_title, "https://atcoder.jp/contests/#{submission.contest.abbreviation}/tasks/#{submission.problem.problem_name}" %></span> 
  <span class="content"><%= submission.result %> </span>
  <span class="content">
  <%# <%= show_result(@history,contest) %> 
  </span>
  <span class="timestamp">
    <%= Time.at(submission.epoch_second) %>
    <%# <%= @atcoder_user.atcoder_id %>
    <%# Posted <%= time_ago_in_words(contest.created_at) %>
  </span>
</li>