<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= favicon_link_tag('apple-touch-icon.png',
                     {rel: 'apple-touch-icon',
                      sizes: '180x180',
                      typ: 'image/png'}) %>
    <%= favicon_link_tag('site.webmanifest',{rel: 'manifest'}) %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
        <%= message %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>