<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="Q37TLz1qmW1CWkurxsqjdZp7OPPo8M1Mo29d0kRmICc" />
    <meta name="robots" content="noindex">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153508968-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-153508968-1');
    </script>

    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= favicon_link_tag('apple-touch-icon.png',
                     {rel: 'apple-touch-icon',
                      sizes: '180x180',
                      typ: 'image/png'}) %>
    <%= favicon_link_tag('site.webmanifest',{rel: 'manifest'}) %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
        <%= message %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
